/* Conf Geral */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #000;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00BFFF;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    }


    h2.titulo{
        color: #fff;
        font-size: 40px;
        text-align: center;

    }
    h2.titulo span{
        color: #00BFFF;
    }

    button:hover, form .btn-enviar input:hover{
        box-shadow: 0px 0px 8px #1aa0cc;
        transform: scale(1.10);
    }

/*ESTILO DO CABECALHO  */
head{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color:#fff;
    text-decoration: none;
    display: inline-block;
    transition: .2s;

}

header a:hover{
    color: #00BFFF;
    transform: scale(1.30);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}


/* ESTILO DO TOPO DO SITE */
section.topo-do-site{
padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span{
    color: #1aa0cc;
}

.topo-do-site .txt-topo-site p{
    color: #fff;
    margin: 40px 0;

}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/*ESTILO DAS ESPECIALIDADES  */
    section.especialidades{
    padding: 40px 4%;

}


section.especialidades .flex{
    gap: 60px;
}

.especialidades .especialidades-box{
    color: #fff;
    padding: 60px;
    border-radius: 20px ;
    /* border: 2px solid #fff; */
    margin-top: 50px;
    transition: .2s;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px #00BFFF;
}

.especialidades .especialidades-box i{
    font-size: 70px;
    color: #00BFFF;
}

.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;

}

/* ESTILO SOBRE */
section.sobre{
    padding: 80px 4%;

}

section.sobre .flex{
    align-items: center;
    gap: 60px;

}

.sobre .txt-sobre{
    color: #fff;

}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    color: #00BFFF;
    display: block;
}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
    font-size: 20px;
}

.btn-social button{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    background-color: #00BFFF;
    font-size: 40px;
    cursor: pointer;
    margin: 0 10px;
    transition: .2s;
}

/* ESTILO DE PORTFOLIO */
section.portfolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px #00BFFF;
}

section.portfolio .flex{
    margin-top: 60px;
    justify-content: space-around;
}

.img-port{
    width: 360px;
    height: 460px;
    background-color: #00BFFF;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover{
    background-position: 100% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600px;
    color: #fff;
    opacity:0;
    transition: .5s;
}

.overlay:hover{
    opacity: 1;
}

/* ESTILO DO FORMULARIO DE CONTATO */
section.formulario{
    padding: 80px 4%;
}

form{
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input, form textarea{
    width: 100%;
    background-color: #444141;
    border:0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form input::placeholder{
    color: hsl(0, 0%, 96%);
}

form textarea{
    resize: none;
    height: 200px;
    max-height: 400px;
}

form textarea::placeholder{
    color: #fff;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input{
    width:120px;
    background-color: #00BFFF;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

/* ESTILO RODAPE */
footer{
    padding: 60px 4%;
    box-shadow: 0 0 40px #00BFFF;
    transition: .5s;
}

footer .flex{
    justify-content: space-between;
    align-items:center;
}

footer .line-footer{
    padding: 10px 0;
}

.borda{
    border-top: 2px solid #00BFFF;
}

footer .line-footer p{
    color:#fff;
    font-size: 18px;
}
footer .line-footer p i{
    color: #00BFFF;
}

footer .line-footer p a{
    color: #fff;
    text-decoration: none;
}